.modal-new-topic{
    width: 100% !important;
    
}

.description {
    height: 360px !important;
}

.markdown-block-area {
    /* max-height : 330px; */
    min-height: 120px;
}
.previous {
    max-height : 330px;
    overflow-y: scroll;
}
h1{
    font-size: 2em;
    font-weight: bolder;
}
h2{
    font-size: 1.5em;
    font-weight: bolder;
}
h3{
    font-size: 1.17em;
    font-weight: bolder;    
}
h4{
    font-size: 1em;
    font-weight: bolder;
}
h5{
    font-size: .83em;
    font-weight: bolder;
}
h6{
    font-size: .67em;
    font-weight: bolder;
}
hr{
    border-width: 0.3px !important;
}
.topic-bg{
    background-color: #313146;
    min-height: 93vh !important;
}
.topic-question-bg{
    background-color: #1e1e2c;
}
.forum-bg{
    min-height: 93vh !important;
}