.ant-layout-header,
.ant-layout-footer {
  background: #F5F6F7;
  color: #000;
  font-family: Roboto, sans-serif;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  background: #F9F9F9;
  color: #5D5D5D;
  
}
.ant-layout-content {
  background:#F5F6F7;
  min-height: 120px;
  font-size: 18px;
  text-align: left;
}
#layout-main{
    height: calc(100vh - 48px);
}
#layout-code{
    width: 10%;
}
#aceeditorContainer{
    height: 100% !important;
    width: 100% !important;
    position: absolute;
}
#testInfo{
    position: absolute;
    bottom:0px;
    left: 0px;
    right: 0px;
    text-align:left ;
    z-index: 10;
    padding: 5px;
}
.ace_gutter-layer{
    position: relative;
    z-index: 0;
}

code {
    background-color: #D0D0D5;
    color: #2A2A40;
    font-family: Roboto Mono,monospace;
}
#layout-content{
  background-color:#F5F6F7;
}
#title{
  font-size: 22.5px;
}
pre{
  background-color:#fff;
  padding: 10px;
  margin: 10px;

}
pre > code{
  background-color:#fff;
}
hr{
  border-top-width: 3px;
}
.test-area{
  text-align: left;
}

.panelCustom{
  text-align: left;
}
.challenge{
  width: 70%;
}